#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.actionButton {
  margin: 0.5em;
}

.assetTag {
  margin-right: 2em;
}

.buttons {
  margin: 1em;
}

.card {
  padding: 2em;
}

.modeButton {
  margin-right: 2em;
}

