label {
  color:#fff;
  float: left;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: inline-block;
}

.actionButton {
  margin: 0.5em;
}

.assetTag {
  margin-right: 2em;
  display: inline;
  float: right;
}

.buttons {
  margin: 1em;
}

.card {
  padding: 2em;
}

.field {
  display: inline-block;
  width: 35%;
}
.fieldSet {
  background-color: rgba(151, 221, 20, 0.8);
  padding: 1em;
  margin: 1em;
  border-radius: 1em 0;
  width: fit-content;
}

.modeButton {
  margin-right: 2em;
}

